/* Lightbox styling */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 20;
}

#lightboxImage {
  max-width: 75%;  /* Set the max width to 75% of the screen width */
  max-height: 70%; /* Set the max height to 70% of the screen height */
  object-fit: contain;  /* Ensures the image retains its aspect ratio */
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f1f1f1;
}
